body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./imagem/login.jpg'); /* Definir imagem como fundo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(0, 0, 0, 0.6); /* Fundo escuro translúcido */
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

